[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.0"
Flask-SQLAlchemy = "==2.2"
sqlalchemy = "==1.3.23"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.9"
