body {
  color: black;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.done {
  text-decoration: line-through;
  color: #e2e2e2;
}

#edit {
  display: none;
}

.due-date {
  color: grey;
  font-size: 12px;
}

/* login */
.signup-title {
  text-align: center;
}

.sign-up-button {
  text-align: center;
}

.sign-up-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
