{% extends 'base.html' %}
  {% block content %}
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">TODO APP</a>
            <a href="/logout" class="btn btn-danger btn-sm ">Logout</a>
        </div>
    </nav>
    <main class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto">
                <div class="card">
                    <div class="card-header">
                        <form action="/todo" method="POST" >
                        <div class="form-group">
                            <input type="text" name="name" id="task-name" placeholder="Todo" class="form-control " autoFocus="true">
                            <input type="date" name="due_date" id="due-date" class="form-control mt-2" >
                        </div>
                            <button type="submit" class="btn btn-primary add-todo mt-2 btn-sm">Add Task</button>
                        </form>
                        <button class="btn btn-warning mt-2" id="edit">Edit Task</button>

                    </div>
                    <div class="card-body">
                    <ul class="list-group">
                        {% for todo in all_todos %}
                           <li class="list-group-item todo" >
                            <span class=" {% if todo.completed %} done {% endif %}">{{todo.name}}</span/>
                            <div class="float-end">
                                <a href="/done/{{todo.id}}" class="btn btn-success btn-sm ">Done</a>
                                <a href="/delete/{{todo.id}}" class="btn btn-danger btn-sm ">Delete</a>
                            </div>
                                <p class="due-date">Due Date: {{todo.due_date.strftime("%b %d")}}</p>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle btn-sm " 
                                    type="button" id="dropdownMenuButton1" 
                                    data-bs-toggle="dropdown" 
                                    aria-expanded="false">
                                        Otions
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="/sort">Sort</a></li>
                                        <li><a class="dropdown-item edit" data-id="{{todo.id}}" data-name="{{todo.name}}" href="#">Edit</a></li>
                                    </ul>
                                </div>
                           </li> 
                        {% endfor %}
                    </ul>
                    </div>
                </div>            
            </div>
        </div>
    </main>
    {% endblock %}
    